*.pyc
*DS_Store
*config.sh
*__pycache__*
*.swp
.env
*.cer
*.log
*logs*
*plugins*
*airflow-webserver.pid
*airflow.cfg
*airflow.db
*standalone_admin_password.txt
*webserver_config.py
*connections.json
*snow_flake_rashid_pass
**/profiles.yml
vars.json
autogit.sh
