name: CI/CD Pipeline
on:
  push:
    branches: [ dev ]

jobs:
  build-nginx:
    runs-on: ubuntu-latest
    steps:
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub 
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push 
        uses: docker/build-push-action@v2
        with:
          push: false
          context: ./twitter-streaming/nginx
          file: ./twitter-streaming/nginx/Dockerfile
          tags: kingmoh/nginx:latest